    <html>
        <head>
            <title>Mitzi Cubedo's blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Girls Blog</a></h1>
            </div>

            <div>
                <p>published: 7.11.2015, 12:11</p>
                <h2>My first post</h2>
                <p>Welcome!</p>
            </div>

            <div>
                <p>published: 7.11.2015, 12:12</p>
                <h2>My second post</h2>
                <p>Hello everyone!</p>
            </div>
        </body>
    </html>